/* CSS RESET */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font: 13px/22px Helvetica, Arial, sans-serif;
    background: #fff;
    align-items: center;
}

h1 {
    font-size: 3em;
    line-height: 3.2em;
    text-align:center;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 1.2em;
    line-height: 4em;
    text-align:center;
}

form {
    text-align: center;
}

.uiInput label{
    font-size: 16px;
}

select, input[type=text]{
    width: 70%;
    padding: 10px 18px;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;

}

select, input[type=number]{
    width: 70%;
    padding: 10px 18px;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
}
select, input[type=date]{
    width: 70%;
    padding: 10px 18px;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
}

th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: lightgrey;
    font-size: 16px;
    font-weight: bold;
    color: black;
}


table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-collapse: collapse;
    min-width: 450px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

td, th {
    font-size: 16px;
    padding: 12px 15px;
}

table.leftaligned td, table.leftaligned th {
    text-align: left;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

tr:hover {
    background-color: #f3f3f3;
}

a:hover,a:active
{
    background-color: lightgrey;
}
a:hover,a:active
{
    background-color: lightgrey;
}

caption {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.minimumAmounts{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}


.topbar {
    font-size: 35px;
    font-weight: 600;
    color: black;
    text-align: center;
    overflow: hidden;
    margin-top: 5px;
}
.topbar2 {
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-align: center;
    overflow: hidden;
    margin-top: 5px;
}

.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #41A6A0;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: RGBA(255,255,255,0.8);
    color: black;
}


.sidebar span.active > a {
    background-color: RGBA(255,255,255,1);
    color: black;
}


.sidebar .closebtn {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 17px;
    position: fixed;
    cursor: pointer;
    border-radius: 5px;
    background-color: RGBA(255,255,255,0.8);
    color: black;
    padding: 10px 15px;
    border: none;
    margin: 20px;
}

.openbtn:hover {
    background-color: lightgrey;
    border-radius: 5px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 300px;
}

.sidebar h1 {
    font-size: 17px;
    text-align: left;
    font-weight: bold;
    padding-top: 40px;
    overflow-x: visible;
    padding-bottom: 40px;
    top : 0;
    color: #fff;
    background: #348984;
    padding-left: 90px;
    background-image:url(../img/User.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 29px 40px ;
}

span::before {
    content: '\A'; white-space: pre;
}

.sidebar button:hover {
    color: black;
}

.sidebar button {
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
    display: block;
    cursor: pointer;
    transition: 0.3s;
    padding: 8px 8px 8px 32px;
}

.startpage:before{
    transform: scaleX(1.5);

}
.startpage:before {
    background: linear-gradient(45deg, rgba(0, 255, 204,0.50), rgba(2, 200, 200, 0.5)), url(../img/startpage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 0 0 50% 50%/0 0 100% 100%;

}

.link {
    position: absolute;
    padding: 50px 80px;
    font-size: 16px;
}

/*for dropdown menus*/
.selection {
    font-size:16px;
    background-color: #F8F8F8;
}

.button{
    background-color: #41A6A0;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 23px;
    padding: 10px 12px;
    text-decoration:none;
}

.uiForm {
    margin-left: auto;
    margin-right:auto;
    top: 30%;
    text-align: center;
    color: #000000;
    font-family: "Microsoft JhengHei Light",sans-serif;
    border-radius: 20px;
    padding: 30px;
    width: 70%;
}

.description{
    padding: 10px;
    resize:vertical;
    width:70%;
    font-size:16px;
}
.uiformRegister{
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    width: 70%;
    background: rgba(255,255,255,0.3);
    text-align: center;
    font-family: "Microsoft JhengHei Light",sans-serif;
    border-radius: 20px;
    padding: 30px;
    font-size: 14px;
    color: black;
}

.uiButton {
    margin:0 auto;
    text-decoration:none;
    background-color: #ffffff;
    border-color : rgba(0, 0, 0, 0);
    color: #000000;
    box-shadow: 0 8px 15px rgba(65, 166, 160, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    border-radius: 23px;
    padding: 10px 12px;
}

.uiformRegister input[type="text"],input[type="password"]{
    font-size: 20px;
    border-radius: 4px;
    width: 100%;
}


.uiInput {
    margin-top: 20px;
}

.uiButton2 {
    cursor: pointer;
    text-decoration:none;
    background-color: rgba(255,255,255,1);
    text-align: center;
    font-size: 16px;
    color: #000000;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    border-color: RGBA(255,255,255,0);
    border-radius: 23px;
    padding: 10px 12px;
}

button:hover {
    background-color: rgba(120,120,120,0.1);
}

.uiButton2:hover{
    background-color: rgba(120,120,120,0.1);
}

.uiButton3 {
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 8px 15px rgba(255, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    border-color: RGBA(255,255,255,0);
    border-radius: 23px;
    padding: 10px 12px;
}

.uiButton4_1 {
    cursor: pointer;
    text-decoration:none;
    background-color: rgba(255,255,255,0);
    text-align: center;
    font-size: 16px;
    color: #000000;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    border-color: RGBA(255,255,255,0);
    padding: 10px 12px;
}

.uiButton4_2 {
    text-decoration:none;
    background-color: lightgrey;
    text-align: center;
    font-size: 16px;
    color: #000000;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    border-color: RGBA(255,255,255,0);
    padding: 10px 12px;
}

.Onlinekatalog {
    width: 1100px;
    margin: 0 auto 0 auto;
    margin-left:auto;
    margin-right: auto


}

.Onlinekatalog ul {
    margin-top: 250px;
    padding:60px;
    margin-left:65px;
    position: relative;

}

.Onlinekatalog ul li {
    width: 190px;
    list-style: none;
    float: left;
    margin-bottom: 3px;


}


.tour-image {
    position: relative;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
}


.bottom-centered {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    background-color: rgba(0,0,0,0.4);
    border-radius: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

.bottom-centered-errorpage {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}

#TourBox{
    background-color: rgba(255,255,255,0.7);
    min-width: 600px;
    max-width: 800px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top:2%;
    border-radius: 10px;
    padding: 20px;
    width: 620px;
    height:auto;
}


#TourBox p{
    font-size: 15px;
}
.alignButtons{
    position: relative;
    margin-left: 30%;
    margin-bottom: 20px;
}

.centered {
    position: absolute;
    top: 40%;
}


.TourCatalogueBox {
    width: 950px;
    float:left;
    display:block;
    text-align:center;
    margin: auto;
    margin-left:-10%;
    border: 4px solid#f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin-top:-300px;
    position: relative;
    align-items: center;

}
.icon-image {
    display: flex;
    align-items: center;
    position: absolute;
    left: 85%;
    top: 1%;
}

.price {
    width: 110px;
    height:20px;
    position: absolute;
    top: 80%;
    background-color: rgba(255,255,255,0.9);
    border-radius: 8px 0px 0px 8px;
    padding-right: 1px;
    padding-left: 8px;
    margin-top:-180px;
    padding-top: 8px;
    padding-bottom: 8px;
    left: 35%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    display: inline-flex;
}

.icon-image1 {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 85%;
    top: 10%;
    align-items: center;
}

.icon {
    width:20px;
    height: 20px;
    background-color: rgba(65, 166, 160, 0.5);
    border-radius: 3px;
}

.addTourImg {
    height: 100%;
    width:950px;

}

.resize {
    width:180px;
    height:250px;
}

.logo{
    position:absolute;
    margin-top: auto;
    margin-bottom: auto;
    left: 28%;

}
.content {
    top: 20%
}

.startpage {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.startpage .content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}
.logo{
    position: center;
    filter : invert(5);
    top:-170%;
    left:40px;
}
.startpage:before {
    content: '';
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.startpage .content h2 {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 4em;
}
.startpage .content p {
    color: #FFFFFF;
    font-size: 17px;
}
.startpage a{
    text-decoration: none;
    letter-spacing: 2px;
    margin: 10px 0;;
}
#B1{
    color: #FFFFFF;
    font-weight: bold;
    padding: 12px 36px;
    background: rgba(255,255,255,0.4);
    z-index: 1;
}
#B2{
    position: absolute;
    border-radius: 40px;
    color: #FFFFFF;
    font-weight: bold;
    top : 5%;
    left : 5%;
    padding: 12px 36px;
    background: rgba(255,255,255,0.2);
}
#B3{
    position: absolute;
    color: #FFFFFF;
    border-radius: 40px;
    font-weight: bold;
    top: 5%;
    right: 5%;
    padding: 12px 36px;
    background: rgba(200,200,200,0.2);
}
@keyframes fadein{
    0%{opacity: 0;
    }
    100%{
        opacity: 1;

    }
}
@-webkit-keyframes fadein{
    0%{opacity: 0;
    }
    100%{
        opacity: 1;

    }
}
@-moz-keyframes fadein{
    0%{opacity: 0;
    }
    100%{
        opacity: 1;

    }
}
@-o-keyframes fadein{
    0%{opacity: 0;
    }
    100%{
        opacity: 1;

    }
}
@-ms-keyframes fadein{
    0%{opacity: 0;
    }
    100%{
        opacity: 1;

    }
}
.fadeIn{
    animation:fadein 1s linear 1;
    -webkit-animation:fadein 1s linear 1;
    -moz-animation:fadein 1s linear 1;
    -o-animation:fadein 1s linear 1;
}

.error {
    font-size: 40pt;
    color: #348984;
    margin-top: 7%
}
