<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Photoshop</title>
    <button class="openbtn" style="display: none;" id="openBtn" onclick="openNav()">☰  Menü</button>
</head>

<body id="main">
<header>
    <h1 class="topbar">Versorgungsstationen</h1>
    <nav th:include="navigation :: navigation"></nav>
</header>
<div class = "alignButtons" style = "margin-left: 18%; margin-bottom: 30px;">
    <a class="uiButton2" href="addNewSupplyStation">Versorgungsstation hinzufügen</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#suche").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#photosTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<div class ="uiInput, uiForm">
    <input id="suche" type="text" placeholder="Suchen nach Namen oder Mitarbeiter von Versorgungsstationen">
</div>

<table>
    <thead>
    <tr>
        <th th:text=" "></th>
        <th th:text="Name"></th>
        <th th:text="Place"></th>
        <th th:text="Person"></th>
    </tr>
    </thead>

    <tbody id="photosTable" th:remove="all-but-first">
    <tr th:each="photo: ${PhotosList}">
        <td th:text="${photo.name}"></td>
        <td th:text="${photo.name}"></td>
        <td th:text="${photo.place}"></td>
        <td th:text="${photo.main_person}"></td>


    </tr>
    </tbody>
</table>
</body>
</html>