<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Welcome</title>

</head>

<body class="fadeIn">
<div>
    <button  style="z-index: 1; background: rgba(255,255,255,0.3); margin:10px;" class="openbtn" onclick="openNav()">☰  Menü</button>
    <nav th:include="navigation :: navigation" ></nav>
</div>

<section class="startpage">
    <div class="content">
        <img class="logo" src="../img/homeimage.jpg" alt="logo" width="90%"><br> <br>
        <br>
        <h2>NBB British Bike Tours</h2><br><br>
        <p>"Man muss reisen, um zu lernen." – Mark Twain </p><br><br>
        <p><a id="B1" class="uiButton" href="https://www.youtube.com/watch?v=ra6kVpLHE_E&ab_channel=YimingZhao" >Onlinekatalog</a></p>
    </div>
</section>


    <div>
        <a id="B2" class="uiButton" href="https://www.youtube.com/watch?v=TZdM7jSpfPo&list=PLBDJEIuQkulF4fj4C8JriniUkPZtNTGmF&index=16&ab_channel=Series%26entretenimento" >Registrierung</a>
        <a id="B3" class="uiButton" href="https://www.youtube.com/watch?v=ph6Zh6ZFgrs&list=LL&index=12&ab_channel=MaxKelm-Topic" >Login</a>
    </div>


</body>
</html>
